/* RESET */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ROOT VARIABLE */
:root{
    --color-primary:#ff5722;
    --color-primary-light:#ff7a50;
    --color-secondary-light:#fff6f2;
    --color-secondary-dark:#ffa589;
    --color-navbar:#f8f8f8;
    --color-heading:#000;
    --color-body:#333333;
    --color-white:#fff;
}
body{
    color: var(--color-body);
    font-size: 1.4rem;
}
h1,h2,h3{
    color: var(--color-heading);
    font-weight: 700;
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.2rem;
}
@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3.5rem;
    }  
}

/* BUTTONS */
.btn{
   cursor: pointer;
   margin: 1rem;
   border: 0;
   outline: 0;
   border-radius: 8px;
   text-align: center;
   padding: 2rem 2.5rem;
   font-size: 1.4rem;
   white-space: nowrap;
}
.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn--secondary{
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}
.btn--block{
    width: 100%;
    font-size: 1.6rem;
}
@media screen and (min-width:1024px) {
    .btn{
        font-size: 1.6rem;
    }
    .btn--block{
        font-size: 2rem;
    }
    
}
/* BADGE */
.badge{
    padding: 0.5rem 3rem;
    border: 2px solid var(--color-primary);
    font-size: 1.2rem;
    border-radius: 32px;
    text-transform: uppercase;
    background-color: #fff;
    color:var(--color-primary);
}
.badge--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
    
}
/* LIST */
.list {
    list-style: none;
    font-size: 1.6rem;
    padding-right: 1rem;
    
}
.list--tick .list__item{
    background: url("/assets/image/Tick-Square.svg") no-repeat;
    background-position: right center;
    padding-right: 3rem;
    margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
    .list--tick .list__item{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    
}
/* PLAN-SECTION */

.block-plan{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,330px));
    gap:8rem 5rem;
    margin-top: 5rem;
}
.plan{
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out;
  
}
.plan__introduction{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.plan__price{
    font-size: 3rem;
}
.plan__description{
    display: block;
    margin-top: 2rem;
}
.plan__popular{
    transform: scale(1.1);
}
.plan__popular:hover{
    transform: scale(1.15);
}
.plan:hover{
    transform: scale(1.05);
}
.card{
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 30px 10px rgb(245, 241, 241);
   
    
}
.card__header , .card__body{
    padding: 3rem 2rem;
}
.card__header.card--secondary{
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}
.card__header.card--primary{
    background-color: var(--color-primary-light);
    color: var(--color-white);
}
.btn--block{
    font-size: 1.6rem;
    margin-top: 10rem;
}
@media screen and (min-width:1024px) {
    .btn--block{
        font-size: 1.8rem;
    }
}
/* CONTAINER */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
