<footer class="main-footer">
    <div class="container footer">
        <div class="footer__item" >
            <h6>تپسی</h6>
            <a href="#"> وبلاگ تپسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
        </div>
    <div class="footer__item" >
        <h6>تپسی</h6>
        <a href="#"> وبلاگ تپسی</a>
        <a href="#">فرصت شغلی</a>
        <a href="#">تماس با ما</a>
        <a href="#">لوگو و هویت سازمانی</a>
    </div>
    <div class="footer__item" >
        <h6>رانندگان</h6>
        <a href="#">ثبت نام راننده</a>
        <a href="#">دانلود اپ سفیر</a>
        <a href="#">پرسش های متداول</a>
        <a href="#">باشگاه</a>
    </div>
    <div class="footer__item" >
        <h6>مسافران</h6>
        <a href="#">دانلود اپ مسافر</a>
        <a href="#">باشگاه مشتریان</a>
        <a href="#">نسخه وب تپسی</a>
        <a href="#">پرسش های متداول</a>
    </div>
    <div class="footer__item" >
        <h6>پنل سازمانی تپسی</h6>
        <a href="#">دریافت api</a>
        <a href="#">شرایط و قوانین</a>
        <a href="#">پرسشهای متداول</a>
        <a href="#"> لوگو سازمانی</a>

    </div>
    <div class="footer__item enemad" >
        <div class="footer__enemad">
         <img src="/assets/image/enemad.png" alt="">
        </div>
        <div class="footer__enemad">
            <img src="/assets/image/enemad.png" alt="">
           </div>
           <div class="footer__enemad">
            <img src="/assets/image/enemad.png" alt="">
           </div>
    </div>
    </div>
</footer>
   