<section class="contact-us container">
    <!-- CONTACT-US__SOCIAL  -->
    <div class="contact-us__social " >
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="/assets/image/svg.sprite.svg#twitter"></use>
                </svg>
                </span>

                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/image/svg.sprite.svg#instagram"></use>
                        </svg>
                        </span>

                        <span class="icon-container">
                            <svg class="icon">
                                <use xlink:href="/assets/image/svg.sprite.svg#linkedin"></use>
                                </svg>
                                </span>
    </div>
    <!-- CONTACT-US__ICONS -->

    <div class="contact-us__icons" >
        <div class="icon-holder">
            <span class="icon-holder__label">تهران-شرکت تاکسی اینترنتی تپسی</span>
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="/assets/image/svg.sprite.svg#location"></use>
                </svg>
                </span>

        </div>
              <div class="icon-holder">
                  
                <span class="icon-holder__label">(021)88888888</span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/image/svg.sprite.svg#call"></use>
                        </svg>
                        </span>
              </div>

                      <div class="icon-holder">
                        <span class="icon-holder__label">@tapsi.com</span>
                        <span class="icon-container">
                            <svg class="icon">
                                <use xlink:href="/assets/image/svg.sprite.svg#email"></use>
                                </svg>
                                </span>
    
                      </div>
    </div>

    <!-- CONTACT-US__MAP-->
    <div class="contact-us__map" >
        <img src="/assets/image/map.png" alt="">
    </div>
    <!-- CONTACT-US__FORM -->
    <div class="contact-us__form">
        <div class="form-wrapper">
            <h3>تماس با ما</h3>
    <form >
        <input type="text" placeholder="نام ونام خانوادگی">
        <input type="email" placeholder="ایمیل">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn--primary">ثبت نظر</button>
    </form>
        </div>
    </div>
</section>
