<section class="block-plan container ">
    <!-- PLAN 1 -->
    <div class="plan">
        <div class="card">
            <header class="card__header card--secondary">
               <span class="plan__introduction">
                <span class="plan__name">عادی</span>
                <span class="badge">off 10%</span>
               </span>
                <span class="plan__price">290,000</span>
                <span class="plan__biling-cycle">ماهانه / تومان</span>
                <span class="plan__description">ماشینهای معمولی</span>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item"> کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                </ul>
                <button class="btn btn--secondary btn--block">ثبت سفارش</button>
            </div>
        </div>
    </div>
    <!-- PLAN 2 -->
    <div class="plan">
        <div class="plan__popular">
            <div class="card">
                <header class="card__header card--primary">
                   <span class="plan__introduction">
                    <span class="plan__name">عادی</span>
                    <span class="badge badge--primary">off 10%</span>
                   </span>
                    <span class="plan__price">290,000</span>
                    <span class="plan__biling-cycle">ماهانه / تومان</span>
                    <span class="plan__description">ماشینهای معمولی</span>
                </header>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item"> کیفیت معمولی</li>
                        <li class="list__item">کیفیت معمولی</li>
                        <li class="list__item">کیفیت معمولی</li>
                        <li class="list__item">کیفیت معمولی</li>
                    </ul>
                    <button class="btn btn--primary btn--block">ثبت سفارش</button>
                </div>
            </div>
        </div>
    </div>
    <!-- PLAN 3-->
    <div class="plan">
        <div class="card">
            <header class="card__header card--secondary">
               <span class="plan__introduction">
                <span class="plan__name">عادی</span>
                <span class="badge">off 10%</span>
               </span>
                <span class="plan__price">290,000</span>
                <span class="plan__biling-cycle">ماهانه / تومان</span>
                <span class="plan__description">ماشینهای معمولی</span>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item"> کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                </ul>
                <button class="btn btn--secondary btn--block">ثبت سفارش</button>
            </div>
        </div>
    </div>
</section>
